body {
  padding: 0px 0px 10px 0px;
  margin: auto;
  width: 980px;
}
body, td, select, input, li{
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
}
code{
  font-family: Courier, monospace;
  font-size: 13px;
}
a {
  text-decoration: none;
}
a:link {
  /*color:#36a;*/
  color: #0b713d;
}
a:visited  {
  /*color:#47a;*/
  color: #0b913d;
}
a:active, a:hover {
  /*color:#69c;*/
  color: #0bA13d;
}
#legend li.externalLink {
  background: url(../images/external.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 18px;
}
#legend li.newWindow {
  background: url(../images/newwindow.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}
h2 {
  margin-top: 0px;
  padding: 11px 4px 11px 10px;
  color: black;
  background-color: #f5f5f5;
  font-weight:900;
  font-size: 18px;
}
h3 {
  margin-top: 0px;
  padding: 8px 4px 8px 10px;
  color: black;
  background-color: #f5f5f5;
  font-weight: bold;
  font-size: 13px;
}
h4 {
  padding: 8px 4px 8px 10px;
  color: black;
  background-color: #f5f5f5;
  font-weight: normal;
  font-size: 13px;
}
h5 {
  padding: 4px 4px 4px 6px;
  color: #900;
  font-size: normal;
}
p {
  line-height: 1.3em;
  font-size: small;
}
#breadcrumbs {
  position: relative;
  line-height: 0px;
  height: 0px;
  visibility: hidden;
}
#leftColumn {
  width: 235px;
  margin: 5px 0 0 5px;
  margin-right: 10px;
  /* border: 1px solid #999; */
  background-color: #f5f5f5; /* gray */
}

#navcolumn {
  background-color: #0b713d;
}

#navcolumn li {
  font-size: 11px;
  color: #b2d2c2; 
}

#navcolumn li.expanded {
  background-image: url(../images/expanded-arrow.gif);
}
#navcolumn li.collapsed {
  background-image: url(../images/collapsed-arrow.gif);
}

#navcolumn h5 {
  font-size: 11px;
  padding-top: 20px;
  padding-bottom: 15px;
  color: #ffffff;
}

#navcolumn a {
  color: #b2d2c2;
}

#navcolumn a:visited {
  color: #b2d2c2;
}

#lastPublished {
  color: #b2d2c2;
}

table.bodyTable th {
  color: white;
  background-color: #bbb;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th, table.bodyTable td {
  font-size: 1em;
}

table.bodyTable tr.a {
  background-color: #ddd;
}

table.bodyTable tr.b {
  background-color: #eee;
}

.source {
  border: 1px solid #999;
}
dl {
  padding: 4px 4px 4px 6px;
  border: 1px solid #aaa;
  background-color: #ffc;
}
dt {
  color: #900;
}
#organizationLogo img, #projectLogo img, #projectLogo span{
  margin: 8px;
}
#banner {
  background: url(../images/header.jpg) 0 0 no-repeat;
  height: 167px;
}
.errormark, .warningmark, .donemark, .infomark {
  background: url(../images/icon_error_sml.gif) no-repeat;
}

.warningmark {
  background-image: url(../images/icon_warning_sml.gif);
}

.donemark {
  background-image: url(../images/icon_success_sml.gif);
}

.infomark {
  background-image: url(../images/icon_info_sml.gif);
}

.poweredBy img {
  display: block;
  margin: auto;
  padding: 13px 4px 13px 0px;
}
#bodyColumn {
  padding: 0px 5px 0px 240px;
  margin-left: 10px;
}
#bodyColumn p {
  padding-left: 11px;
  text-align: justify;
}

#bodyColumn img {
  margin: 20px 20px;
}
#bannerLeft {
  display: none;
}
